---
import { Icon } from 'astro-icon';
const {} = Astro.props
const TEXT = {
    title: "Containers And Docker"
}
---

  <header class="bg-gray-100 py-4 px-8">
    <div class="container mx-auto flex items-center justify-between">
        <a href="/">
            <h1 class="text-2xl font-bold">{TEXT.title}</h1>
        </a>
<a href="#"><Icon class="h-5 w-5" name="mdi:github"></Icon></a>
    </div>
  </header>

